//style both home jumbotron and about jumbotron
.jumbotron{
    text-align: center;
    position: relative;
    background-color: transparent;
}
//style home jumbotron
#home{
    color: black;
    letter-spacing: 1.5px;
    padding-top: 250px;
    padding-bottom: 0;
    h1{
        font-weight: bold;
    }
    p{
        font-size: 27px;
    }
}
//style about jumbotron
#about{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 250px;
    color: white;
    h2{
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    img{
        height: 150px;
    }
}

//style jumbotrons when screen's width is between 410px and 768px
@media screen and (min-width: 410px) and (max-width: 768px){
    .jumbotron button{
        font-size: 15px;
    }
    #home{
        p{
            font-size: 20px;
        }
    }
    #about{
        p{
            font-size: 17px;
        }
        img{
            height: 100px;
        }
    }
}
//style jumbotrons when screen's width is 410px or lower
@media screen and (max-width: 410px){
    .jumbotron button{
        font-size: 15px;
    }
    #home{
        p{
            font-size: 20px;
        }
    }
    #about{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 13px;
        }
        img{
            height: 100px;
        }
    }
}
//change text color of home to white if the device's screen is 768px or lower
@media screen and (max-device-width: 768px) {
    #home{
        color: white;
    }
}