//style the overall navigation bar
.navbar-custom{
    background-color: rgba(0, 0, 0, 0.5);
    a{
        font-size: 20px;
    }
    .icon-bar{
        background-color: white;
    }
}
//style the brand
.navbar-brand{
    color: white;
    &:hover, &:active{
        color: white;
    }
}
//style the collapsible contents
#navbarContents a{
    color: grey;
    &:hover, &:active{
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
//style the active class
.active{
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid white ;
}
//style the navbar when the screen's width is 410px or lower
@media screen and (max-width: 410px) {
    .navbar-custom a{
        font-size: 15px;
    }
}